<form method="post" action="login">
        <input type="text" name="first_name" placeholder="First Name"/>
        <input type="password" name="password" placeholder="Password"/>
        <input type="submit" name="submit" Value="GO"/>
    </form>