<% var str=id %>
        <% var res = str.split("=")%>
<form method="post" action="/api/main/id=<%-res[1]%>">
        <input type="text" name="comment" placeholder="POST"/>
        <input type="submit" name="submit" Value="POST"/>
    </form>