<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		#chat
		{
			height: 500px;
		}
	</style>
</head>

<body>
<div id="chat"></div>
<form id="send-message">
<input size="35" id="message">
<input type="submit" >
</form>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript">
	jQuery(function($){
		var socket=io.connect();
		var $messageForm = $('#send-message');
		var $meseageBox= $('#message');
		var $chat = $('#chat');

		$messageForm.submit(function(e){
			e.preventDefault();
			socket.emit('send',$meseageBox.val());
			$meseageBox.val('');
		});

		socket.on('mess',function(data){
			$chat.append(data+"<br/>");
		});
	});


</script>
</body>


</html>