<% var str=id %>
        <% var res = str.split("=")%>
<form method="post" action="/api/view_profile/id=<%-res[1]%>">
        <input type="text" name="search" placeholder="FRIEND ID"/>
        <input type="submit" name="submit" Value="SEARCH"/>
    </form>